/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Page Background */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#a9c9d9;
}

/* Login Card */
.Login{
    background:#ffffff;
    padding:40px 35px;
    width:320px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    position:relative;
    text-align:left;
}

/* top decorative shape */
.design{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background:linear-gradient(135deg,#4a8fac,#96cce4);
    border-radius:18px 18px 0 0;
}

/* heading */
.Login h2{
    margin-top:30px;
    margin-bottom:25px;
    text-align:center;
    color:black;   /* warm dark brown */
}

/* labels */
label{
    font-size:14px;
    color:#6b6b6b;
}

/* inputs */
input{
    width:100%;
    border:none;
    border-bottom:1.8px solid #ddd;
    padding:8px 2px;
    margin-bottom:22px;
    font-size:14px;
    background:transparent;
    transition:0.3s;
}

/* input focus */
input:focus{
    outline:none;
    border-bottom:1.8px solid #5a3e2b;
}

/* button */
button{
    width:100%;
    padding:12px;
    border:solid 1.5px black;
    border-radius:25px;
    background:#dcdcdc;
    color:black;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

/* hover effect */
button:hover{
    background:#2bb673;
}

/* switch text */
.switch{
    text-align:center;
    margin-top:15px;
    font-size:13px;
    color:#777;
}

.switch a{
    color:#5a3e2b;
    text-decoration:none;
    font-weight:600;
}

.switch a:hover{
    text-decoration:underline;
}